/* Định dạng chung */
* {box-sizing: border-box;}
html, body {
    margin: 0;
    font-family: 'Philosopher';
}
h1 {text-align: center;}
a {text-decoration: none;}
img, video {max-width: 100%;}
figcaption {
    text-align: center;
    font-size: 18px;
}
input[type=text], input[type=email] {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 15px;
    cursor: pointer;
    position: relative;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #a5190e;
}
button:hover, a>img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#TopButton {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 15px;
    font-size: 18px;
    background-color: red;
    z-index: 2;
}
#homepage-btn {
    color: #31ccfd;
    font-weight: bold;
    font-size: 16px;
    background-color: transparent;
}
#homepage-btn img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
}
#menu-icon {
    font-size: 36px;
    color: #595959;
    cursor: pointer;
}
#copyright-container {
    clear: both;
    text-align: center;
}

/* Menu ẩn */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0; left: 0;
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 20%;
    text-align: center;
}
.overlay a {
    padding: 10px;
    margin-bottom: 1px;
    background-color: gainsboro;
    font-size: 22px;
    color: #888b98;
    display: block;
}
.overlay a:hover, .overlay a:focus {
    color: #444a56;
    background-color: silver;
}
.overlay .closebtn {
    position: absolute;
    right: 0;
    font-size: 36px;
    z-index: 4;
}

/* Thanh tìm kiếm */
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    transform: translateX(-80%);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Slideshow ảnh */
.slideshow-container {
    position: relative;
    max-width: 992px;
    margin: auto;
}
.slideshow-container figure, [class*="mySlideshow-"] figure {
    margin: auto auto 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
[class*="mySlideshow-"] {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 15px;
    font-size: 30px; 
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.5s ease;
}
.next {right: 0;}
.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Phần đầu trang */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
header ul {display: none;}

/* Phần banner */
.banner {
    position: relative;
    height: 39vw;
    background-image: url("images/welcome.jpg");
    background-size: cover;
    font-family: 'Lobster';
    text-align: center;
    font-size: 5.3vw;
    color: white;
}
.banner span {
    position: absolute;
    top: 45%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.3);
}

/* Phần thân trang */
main {
    padding: 15px;
    overflow: hidden;
    line-height: 1.5;
}
main section {
    max-width: 1200px;
    margin: auto;
    text-align: justify;
    font-size: 130%;
}
main section .video-container {
    max-width: 768px;
    margin: auto;
    text-align: center;
}

/* Phần chân trang */
footer {
    overflow: hidden;
    background-color: rgb(246, 246, 246);
    border-top: 1px solid #d5d5d5;
    padding: 15px;
}
footer h2 {color: #b2910e;}
footer form input {width: 75%;}
footer form button:active {top: 2px;}
footer ul li {margin: 5px;}
footer a {
    color: inherit;
    font-style: italic;
}
footer ul li a:hover {text-decoration: underline;}
footer a img {
    padding: 15px;
    width: 56px;
    height: 56px;
}

/* Responsive design */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
}
@media only screen and (min-width: 768px) {
    .col-768-4 {width: 33.33%;}
    .col-768-6 {width: 50%;}
    .col-768-12 {width: 100%;}
    .overlay, #menu-icon, #homepage-btn>span {display: none;}
    header ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 0;
        width: 75%;
    }
    header ul li {margin: auto;}
    .nav-link {
        padding: 20px 5px;
        font-size: 20px;
        color: #888b98;
    }
    .nav-link:hover, .nav-link:focus {
        color: #444a56;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
@media only screen and (min-width: 992px) {
    .col-992-3 {width: 25%;}
    .col-992-4 {width: 33.33%;}
    #homepage-btn>span {display: initial;}
    header ul li {margin: auto 10px;}
}
